
html, body, #app {
  height: 100%;
}

body {
  font: 30px/1.412 optima;
  color: #b99ce4;
}

.counter-app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  strong {
    font-size: 30px;
    margin-left: 10px;
    margin-right: 5px;
  }

  button {
    width: 30px;
    padding: 0;
    border: 0 none;
    margin-left: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 3px;
    background: #eee;

    &[disabled] {
      color: #999;
      background: #ccc;
    }
  }
}
